.about {
	padding-top: 10px;
	padding-bottom: 10px;
	@include adaptiv-value("margin-top", 10, 64, 1);
	@include adaptiv-value("margin-bottom", 10, 32, 1);

	&__container {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-height: 550px;
		@media (max-width: em(1270)) {
			flex-direction: column;
			max-height: 800px;
		}
	}

	&__discription {
		flex: 1 1 830px;
		// margin-bottom: 20px;
		@include adaptiv-value("margin-bottom", 20, 5, 1);
		@media (max-width: em(1270)) {
			text-align: center;
			flex: 1;
		}
	}

	&__title {
		@include adaptiv-value("margin-bottom", 50, 24, 1);
		span {
			color: $blueColor;
		}
	}

	&__subtitle {
		font-family: "Circe";
		font-weight: 700;
		@include adaptiv-font(26, 16);
		line-height: 130%;
		text-transform: uppercase;
		white-space: nowrap;
		@include adaptiv-value("margin-bottom", 6, 8, 1);
		@media (max-width: $tablet) {
			white-space: normal;
		}
	}

	&__text {
		font-family: "Circe";
		font-weight: 400;
		font-size: 16px;
		@include adaptiv-font(16, 12);
		line-height: 130%;
		@include adaptiv-value("margin-bottom", 0, 20, 1);
	}

	&__row {
		gap: 35px;
		@include adaptiv-value("gap", 35, 12, 1);
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		max-width: 705px;
		max-height: 540px;
	}

	&__item {
		@include adaptiv-value("width", 332, 136, 1);
		@include adaptiv-value("heigth", 260, 110, 1);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__circle {
		@include adaptiv-value("width", 174, 60, 1);
		@include adaptiv-value("height", 174, 60, 1);
		box-shadow: 5px 5px 60px rgba(75, 79, 90, 0.1);
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 13px solid #fff;
		@include adaptiv-value("margin-bottom", 22, 26, 1);
		position: relative;
		&::after {
			content: "";
			position: absolute;
			@include adaptiv-value("width", 148, 51, 1);
			@include adaptiv-value("height", 148, 51, 1);
			top: 0;
			left: 0;
			@include adaptiv-value("top", 0, -9, 1);
			@include adaptiv-value("left", 0, -9, 1);
			border-radius: 50%;
			border: 2px solid $mainColor;
			opacity: 0.1;
		}
		span {
			font-weight: 700;
			@include adaptiv-font(56, 16);
			line-height: 100%;
			letter-spacing: 0.03em;
			text-transform: uppercase;
			color: $blueColor;
		}
	}

	&__flex-text {
		font-weight: 700;
		@include adaptiv-font(22, 14);
		line-height: 100%;
		text-align: center;
		letter-spacing: 0.03em;
		text-transform: uppercase;
	}

	&__bg {
		img {
			position: absolute;
			@include adaptiv-value("width", 384, 200, 1);
			@include adaptiv-value("height", 423, 220, 1);
			@include adaptiv-value("top", 50, -50, 1);
			@include adaptiv-value("left", 375, 45, 1);
			object-fit: cover;
		}
	}
}
